extends layout

block content
  .is-flex
    table.table.is-hoverable.is-bordered.m-3
        thead.thead
            tr.tr.is-selected
                td(colspan=2).td User Info #{user.name}
        tbody.tbody
            tr.tr
                td.td Phone Number
                td.td #{user.phone_id}
            tr.tr
                td.td email
                td.td #{user.email}
            tr.tr
                td.td Bio
                td.td #{user.bio}
            tr.tr
                td.td Education
                td.td #{user.education}
            tr.tr
                td.td Birthday
                td.td #{moment(user.birth_date).format("YYYY-MM-DD")}
            tr.tr
                td.td Account Created
                td.td #{moment(user.create_date).format("YYYY-MM-DD")}
            tr.tr
                td.td Days since account was created
                td.td #{timeSpan}
            tr.tr
                td.td Last active
                td.td #{moment(user.active_time).format("YYYY-MM-DD")}
            tr.tr
                td.td Age Range
                td.td #{user.age_filter_min} - #{user.age_filter_max}

        table.table.is-hoverable.is-bordered.m-3
            thead.thead
                tr.tr.is-selected
                    td(colspan=2).td Usage Info #{user.name}
            tbody.tbody
                tr.tr
                    td.td Times you opened the app
                    td.td #{appOpens}
                tr.tr
                    td.td Likes you sent
                    td.td #{liked}
                tr.tr
                    td.td Dislikes you sent
                    td.td #{passed}
                tr.tr
                    td.td Number of girls seen
                    td.td #{totalSeen}
                tr.tr
                    td.td Percentage of girls liked
                    td.td #{(liked/totalSeen * 100).toFixed(2)}%
                tr.tr
                    td.td Total Matches
                    td.td #{matches}
                tr.tr
                    td.td Messages Sent
                    td.td #{msgSent}
                tr.tr
                    td.td Messages Received
                    td.td #{msgRecv}